mixin flutter-process()
    +b.SECTION.flutter-process
        +inner
            +e.H2.title Как проходит процесс обучения
            +e.image
                picture
                    source(
                        srcset='images/flutter-process/desktop.svg'
                        media='(min-width: 992px)'
                    )
                    //- source(
                    //-     srcset=images.tablet
                    //-     media='(min-width: 768px)'
                    //- )
                    img(
                        src='images/flutter-process/mobile.svg'
                        alt=""
                    )